<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    <title>PUJAK</title>
</head>
<body>
<p class="title">Clasterisation</p>
<div class="ui">
  <div class="regulator">
    <div class="regulator__block">
      <p class="regulator__height-paragraph">400</p>
      <div class="regulator__width-param">
        <p class="regulator__text">set height</p>
        <div class="regulator__bar"></div>
      </div>
      <button class="regulator__button"></button>
    </div>
    <div class="regulator__block">
      <p class="regulator__width-paragraph">1398</p>
      <div class="regulator__height-param">
        <p class="regulator__text">set weight</p>
      </div>
      <button class="regulator__button"></button>
    </div>
  </div>
  <div class="canvas">
    <canvas class="canvas__element"></canvas>
    <div class="canvas__menu">
      <div class="canvas__menu-container">
        <button class="canvas__menu-button_DBSCAN">DBSCAN</button>
        <button class="canvas__menu-button_kmeans">k-means</button>
      </div>
    </div>
  </div>
  <div class="regulator">
    <div class="regulator__block">
      <p class="regulator__paragraph">inf</p>
      <div class="regulator__width-param">
        <p class="regulator__text">set range</p>
      </div>
      <button class="regulator__button"></button>
    </div>
    <div class="regulator__block">
      <p class="regulator__paragraph">255</p>
      <div class="regulator__height-param">
        <p class="regulator__text">set points count</p>
      </div>
      <button class="regulator__button"></button>
    </div>
  </div>
</div>
<!-- <footer></footer> -->
<script src="../dist/clasters.js" type="module"></script>
</body>
</html>