<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.0.3/custom-elements-es5-adapter.js"></script>
</head>
<body>
<!-- #CFCFCF - brush color -->
    <canvas class="canvas" width="500" height="500" style="background: #303030;"></canvas>
    <div>
        <p class="text">Text 1</p>
    </div>
        <input type="text" class="canvasWidth" placeholder="width">
        <input type="text" class="canvasHeight" placeholder="height">
        <input type="text" class="canvasBackground" placeholder="background">
        <input type="submit" value="Send" class="sendButton">

    <div>
        <button>Add Rectangle</button>
    </div>
    <input value="Text 2" id="p_input">
    <button class="text_change">click</button>

    <input type="text" class="range">
    <input type="text" class="groupsize">
    <button class="DBSCAN" type="submit" method="POST">DBSCAN</button>
    <button class="kmeans" type="submit" method="POST">kmeans</button>

<script src="dist/index.js" type="module"></script>
<script src="dist/test.cjs"></script>
</body>
</html>