.title {
    font-family: 'codenext';
    font-size: 180px;
    line-height: 264px;
    text-align: center;
    color: #303030;
    margin: 44px 0px 33px 0px;
}

.ui {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    // flex-flow: row wrap;

    .regulator {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0px;
        height: 1053px;
        background: #303030;
        border-radius: 30px;

        .regulator__block {
            display: block;

            .regulator__paragraph {
                color: #CFCFCF;
                font-family: 'codenext', sans-serif;
            }

            .regulator__width-param {
                display: flex;
                align-items: center;
                justify-content: space-around;
                background: #CFCFCF;
                width: 40px;
                height: 982px;
                border-radius: 30px;

                .regulator__text {
                    white-space: nowrap;
                    font-size: 26px;
                    color: #303030;
                    font-family: 'codenext', sans-serif;
                    transform: rotate(-90deg);
                }
            }
                
            .regulator__height-param {
                display: flex;
                align-items: center;
                justify-content: space-around;
                background: #CFCFCF;
                width: 40px;
                height: 982px;
                border-radius: 30px;

                .regulator__text {
                    white-space: nowrap;
                    font-size: 26px;
                    color: #303030;
                    font-family: 'codenext', sans-serif;
                    transform: rotate(-90deg);
                }
            }
        }

        .regulator__block:nth-child(2) {
            margin-left: 39px;
        }
    }

    canvas {
        margin-left: 27px;
        background: #303030;
        width: 0px;
        height: 988px;
        border-radius: 20px;
        flex-grow: 6.8;
    }

    .buttons-menu {
        flex-grow: 1;
        margin-left: 27px;  
        background: #303030;
        flex-basis: 0px;
        height: 1053px;
        display: block;
        border-radius: 30px;
    }
}