.title {
    font-size: 180px;
    line-height: 264px;
    text-align: center;
    color: #303030;
}

.ui {
    display: flex;
    justify-content: center;
    align-items: center;

    .regulator {
        width: 207px;
        height: 1053px;
        background: #303030;
    }

    canvas {
        margin-left: 27px;
        background: #303030;
        width: 1398px;
        height: 988px;
    }

    .buttons-menu {
        margin-left: 27px;  
        background: #303030;
        width: 207px;
        height: 1053px;
        display: block;        
    }
}