.ui .regulator {
    align-items: center;
    justify-content: space-evenly;
    
    .regulator__buttons-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 93%;
        width: 38px;
        background-color: $creamyWhite;
        border-radius: 20px;
        
        .buttons-bar__wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            height: 77%;

            .regulator__button {
                transform: rotate(90deg);
                // padding-top: 10px;
                // padding-bottom: 19px;
                // padding-left: 10px;
                // padding-right: 10px;
                white-space: nowrap;
                // height: fit-content;
                height: 54px;
                border: 2px solid $black;
                border-radius: 10px;
                background-color: $creamyWhite;
                text-align: left;
        
                .regulator__button__text {
                    @include setFont('codenext', normal, 24px, 0px, 400, $black);
                    color: $black;
                }
            }
    
            .regulator__button:hover {
                border: 2px solid $creamyWhite;
                background-color: $black;
                transition: background 0.3s;
        
                .regulator__button__text {
                    color: $creamyWhite;
                }
            }
        }
    }
    
}
