$team-name-size: 410px;
$line-scale: 1.33;

.welcome-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: "codenext";
    src: url("../fonts/codenext.otf");
}

.team-name__text {
    color: $black;
    font-family: "codenext";
    font-size: $team-name-size;
    letter-spacing: 0.05em;
    text-indent: 0.05em;
}

.team-name__blinking-line {
    background-color: $black;
    width: 1px;
    height: $team-name-size * $line-scale;
    animation: InteractiveCodeExample_blink__jxhZI 1.2s linear infinite;
}

@-webkit-keyframes InteractiveCodeExample_blink__jxhZI {
    0% {
        opacity:1
    }
    45% {
        opacity:1
    }
    55% {
        opacity:0
    } 
    to {
        opacity:0
    }
}
@keyframes InteractiveCodeExample_blink__jxhZI {
    0% {
        opacity:1
    }
    45% {
        opacity:1
    }
    55% {
        opacity:0
    }
    to {
        opacity:0
    }
}

.drawing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.drawing__svg {
    width: 1000px;
    height: 716px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}