@import "normilise";

$black: #303030;
$white: #CFCFCF;
$greyTextColor: #E8E8E8;

//Default MIXIN FOR FONTPARAMS
@mixin setFont($fontFamily, $fontStyle, $fontSize, $lineHeight, $fontWeight, $color) {
    font-family: $fontFamily, sans-serif;
    font-style: $fontStyle;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    color: $color;
}

@font-face {
    font-family: "codenext";
    src: url("../fonts/codenext.otf");
}

@font-face {
    font-family: "garet-book";
    src: url("../fonts/garet-book.otf");
}

// body::-webkit-scrollbar {
//     display: none;
// }

// body {
//     -ms-overflow-style: none;  /* IE and Edge */
//     scrollbar-width: none;
// }

// Возможно временная мера. Лучше сделать div/span и добавить на него listener "scroll":
// так можно будет применять различные анимации.


.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 14px;
    overflow: auto;
}

body::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 100px;
    background-color: #aaaaaa;
} 

@import "mainPage";
@import "menu";
@import "header";
@import "algs/algorithms";
@import "ui";
@import "astar";
@import "neural-net";