$param-width: 40px;

.title {
    @include setFont('codenext', normal, 180px, 264px, 800, $black);
    text-align: center;
    margin: 44px 0px 33px 0px;
}

.ui {
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    // flex-flow: row wrap;

    .regulator {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0px;
        height: 1053px;
        background: $black;
        border-radius: 30px;

        .regulator__block {
            display: block;

            .regulator__paragraph {
                @include setFont('codenext', normal, 18px, 26px, 800, $greyTextColor);
                margin-top: 16.23px;
            }

            .regulator__button {
                width: $param-width;
                height: 60px;
                background: $black;
                border: 4px solid $white;
                margin-top: -60px;
                border-radius: 20px;
                display: block;
            }

            .regulator__width-param {
                display: flex;
                align-items: center;
                justify-content: space-around;
                background: $white;
                width: $param-width;
                height: 982px;
                border-radius: 30px;

                .regulator__text {
                    white-space: nowrap;
                    font-size: 26px;
                    color: $black;
                    font-family: 'codenext', sans-serif;
                    transform: rotate(-90deg);
                }
            }
                
            .regulator__height-param {
                display: flex;
                align-items: center;
                justify-content: space-around;
                background: $white;
                width: $param-width;
                height: 982px;
                border-radius: 30px;

                .regulator__text {
                    white-space: nowrap;
                    font-size: 26px;
                    color: $black;
                    font-family: 'codenext', sans-serif;
                    transform: rotate(-90deg);
                }
            }
        }

        .regulator__block:nth-child(2) {
            margin-left: 39px;
        }
    }

    canvas {
        margin-left: 28px;
        margin-right: 28px;
        background: $black;
        width: 0px;
        height: 988px;
        border-radius: 20px;
        flex-grow: 6.8;
    }

    .buttons-menu {
        flex-grow: 1;
        margin-left: 27px;  
        background: $black;
        flex-basis: 0px;
        height: 1053px;
        display: block;
        border-radius: 30px;
    }
}